{% extends "base.html" %}

<header class="header--main-page">
    {% block navbar %}
        {{ block.super }}
    {% endblock %}
    {% block header_help %}
    {% endblock %}
</header>


{% block content %}
    <div>
        <div>
            <h2>Ustaw nowe hasło</h2>
        </div>
        <div class="custom-container-profile">
            <form method="post" class="custom-form">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                        <label for="{{ form.new_password1.id_for_label }}" class="label-password-reset">Nowe
                            hasło:</label> <br>
                        {{ form.new_password1 }}
                    </div>

                    <div>
                        <label for="{{ form.new_password2.id_for_label }}" class="label-password-reset">Potwierdź nowe
                            hasło:</label> <br>
                        {{ form.new_password2 }}
                    </div>
                </div>

                <div class="submit-button-container">
                    <button type="submit">Zresetuj hasło</button>
                </div>
            </form>
            <div>

                <ul style="font-size: 1.2rem; margin-top: 20px">
                    Nowe hasło:
                    <li>powinno zawierać przynajmniej 8 znaków,</li>
                    <li>nie powinno się składać wyłącznie ze znaków,</li>
                    <li>nie powinno być podobne do Twoich danych.</li>

                </ul>

            </div>

            <div class="messages">
                {% if form.errors %}
                    <div class="form-errors">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}