{% extends "base.html" %}


<header class="header--main-page">
    {% block navbar %}
        {{ block.super }}
    {% endblock %}
    {% block header_help %}
    {% endblock %}
</header>


{% block content %}
    <div>
        <div>
            <h2>Resetuj swoje hasło</h2>
        </div>
        <div class="custom-container-profile">
            <div class="">
                <p style="font-size: 2rem;">Podaj adres email, na który zostanie wysłany link do resetu hasła.</p>
            </div>
            <form method="post" class="custom-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="visually-hidden">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <div class="submit-button-container">
                    <button type="submit">Wyślij link</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}