{% extends 'base.html' %}
{% load static %}


{% block header_help %}
{% endblock %}

{% block content %}

   <section class="login-page">
        <h2>Zaloguj się</h2>
        <form method="POST" action="">
            {% csrf_token %}
            {% if error %}
                <div style="color:red">{{ error }}</div>
            {% endif %}
            <div class="form-group">
                <label for="email" class="visually-hidden">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required />
            </div>
            <div class="form-group">
                <label for="password" class="visually-hidden">Hasło</label>
                <input type="password" id="password" name="password" placeholder="Hasło" required />
                <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
            </div>

            <div class="form-group form-group--buttons">
                <a href="{% url 'Register' %}" class="btn btn--without-border">Załóż konto</a>
                <button class="btn" type="submit">Zaloguj się</button>
            </div>
        </form>
    </section>

{% endblock %}
