{#{% extends 'base.html' %}#}
{##}
{#<header class="header--main-page">#}
{#    {% block navbar %}#}
{#        {{ block.super }}#}
{#    {% endblock %}#}
{##}
{#    {% block header_help %}#}
{#        <header class="header--main-page">#}
{#            <div class="header--main-page">#}
{#                <div class="slogan container2">#}
{#                    <div>#}
{#                        <h2>Mój Profil</h2>#}
{#                    </div>#}
{##}
{#                </div>#}
{#                <div class="container2">#}
{#                    <div></div>#}
{#                    <div>#}
{#                        <p style="font-size: 2em">Informacje</p>#}
{#                                                #}
{#                        <p>Użytkownik:</p> #}
{#                                {{ user }} <br>#}
{#                            Imię: <br>#}
{#                        {{ user.first_name }} <br>#}
{#                            Nazwisko: <br>#}
{#                        {{ user.last_name }} <br>#}
{#                        #}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </header>#}
{#    {% endblock %}#}
{#</header>#}
{##}

{% extends 'base.html' %}

<header class="header--main-page">
    {% block navbar %}
        {{ block.super }}
    {% endblock %}

    {% block header_help %}
        <div>
            <h2>Mój Profil</h2>
        </div>


        <div class="container-profile">
            <div class="info-title">
                <p>Informacje</p>
            </div>
            <div class="info-details center-text">
                <p><strong>Użytkownik</strong><br> {{ user }}</p><br>
                <p><strong>Imię</strong> <br>{{ user.first_name }}</p><br>
                <p><strong>Nazwisko</strong> <br> {{ user.last_name }}</p>
            </div>
        </div>

        <div class="custom-container-profile">
            <div class="info-title">
                <p>Przekazane dary</p>
            </div>
            <div class="custom-info-details">
                {% if donations %}
                    <ul class="custom-donation-list">
                        {% for donation in donations %}
                            <li class="custom-donation-item">
                                <p><strong>Worki przekazane:</strong> {{ donation.quantity }}</p>
                                <p><strong>Organizacja:</strong> {{ donation.institution.name }}</p>
                                <p><strong>Kategorie:</strong>
                                    {% for category in donation.categories.all %}
                                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                                <p><strong>Data odbioru:</strong> {{ donation.pick_up_date }}</p>
                                <p><strong>Godzina odbioru:</strong> {{ donation.pick_up_time }}</p>
{#                                {% if donation.pick_up_comment %}#}
{#                                    <p><strong>Komentarz:</strong> {{ donation.pick_up_comment }}</p>#}
{#                                {% endif %}#}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Brak przekazanych darów.</p>
                {% endif %}
            </div>
        </div>



    {% endblock %}
</header>

