<!-- settings.html -->
{% extends 'base.html' %}

{% block content %}
<header class="header--main-page">
    {% block navbar %}
        {{ block.super }}
    {% endblock %}

    {% block header_help %}
        <div class="background-picture">
            <div>
                <h2>Ustawienia</h2>
            </div>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <p class="{{ message.tags }}"> {{ message }}</p>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="inline-container">
                <div class="container-profile">
                    <div class="info-title">
                        <p>Zmień Informacje</p>
                    </div>
                    <form method="post" class="custom-form" name="update_info_form">
                        <input type="hidden" name="form_type" value="update_info">
                        {% csrf_token %}
                        <div class="info-details-edit center-text font-size-1-5rem">
                            <div>
                                <label for="{{ user_update_form.username.id_for_label }}">Zmień Nazwę Użytkownika</label>
                                <input id="{{ user_update_form.username.id_for_label }}" type="text" name="{{ user_update_form.username.html_name }}" value="{{ user_update_form.username.value|default_if_none:'' }}" required>
                                {% if user_update_form.username.errors %}
                                    <div class="error-message">
                                        {% for error in user_update_form.username.errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div>
                                <label for="{{ user_update_form.email.id_for_label }}">Zmień Email</label>
                                <input id="{{ user_update_form.email.id_for_label }}" type="email" name="{{ user_update_form.email.html_name }}" value="{{ user_update_form.email.value|default_if_none:'' }}" required>
                                {% if user_update_form.email.errors %}
                                    <div class="error-message">
                                        {% for error in user_update_form.email.errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div>
                                <label for="{{ user_update_form.first_name.id_for_label }}">Zmień Imię</label>
                                <input id="{{ user_update_form.first_name.id_for_label }}" type="text" name="{{ user_update_form.first_name.html_name }}" value="{{ user_update_form.first_name.value|default_if_none:'' }}" required>
                                {% if user_update_form.first_name.errors %}
                                    <div class="error-message">
                                        {% for error in user_update_form.first_name.errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div>
                                <label for="{{ user_update_form.last_name.id_for_label }}">Zmień Nazwisko</label>
                                <input id="{{ user_update_form.last_name.id_for_label }}" type="text" name="{{ user_update_form.last_name.html_name }}" value="{{ user_update_form.last_name.value|default_if_none:'' }}" required>
                                {% if user_update_form.last_name.errors %}
                                    <div class="error-message">
                                        {% for error in user_update_form.last_name.errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div>
                                <label for="{{ user_update_form.password.id_for_label }}">Podaj hasło, aby uwierzytelnić zmiany</label>
                                <input id="{{ user_update_form.password.id_for_label }}" type="password" name="{{ user_update_form.password.html_name }}" placeholder="Podaj hasło" required>
                                {% if user_update_form.password.errors %}
                                    <div class="error-message">
                                        {% for error in user_update_form.password.errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="submit-button-container">
                                <button type="submit">Zapisz zmiany</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="container-profile">
                    <div class="info-title">
                        <p>Zmień hasło</p>
                    </div>
                    <form method="post" class="custom-form" name="change_password_form">
                        <input type="hidden" name="form_type" value="update_password">
                        {% csrf_token %}
                        <div class="info-details-edit center-text font-size-1-5rem">
                            <div>
                                <label for="{{ password_form.change_password.id_for_label }}">Podaj nowe hasło</label>
                                <input id="{{ password_form.change_password.id_for_label }}" type="password" name="{{ password_form.change_password.html_name }}" placeholder="Podaj hasło" required>
                                {% if password_form.change_password.errors %}
                                    <div class="error-message">
                                        {% for error in password_form.change_password.errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div>
                                <label for="{{ password_form.change_password2.id_for_label }}">Potwórz nowe hasło</label>
                                <input id="{{ password_form.change_password2.id_for_label }}" type="password" name="{{ password_form.change_password2.html_name }}" placeholder="Potwórz hasło" required>
                                {% if password_form.change_password2.errors %}
                                    <div class="error-message">
                                        {% for error in password_form.change_password2.errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div>
                                <label for="{{ password_form.confirm_password.id_for_label }}">Podaj stare hasło, aby uwierzytelnić zmiany</label>
                                <input id="{{ password_form.confirm_password.id_for_label }}" type="password" name="{{ password_form.confirm_password.html_name }}" placeholder="Podaj stare hasło" required>
                                {% if password_form.confirm_password.errors %}
                                    <div class="error-message">
                                        {% for error in password_form.confirm_password.errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="submit-button-container">
                                <button type="submit">Zapisz zmiany</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
</header>
{% endblock %}
